.users-table{
    margin-top: 30px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.users-table-heading-tr{
    display: flex;
    justify-content: flex-start;
    column-gap: 55px;
}

.users-table-tr{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 30px;
}

.users-table th {
    padding: 20px;
}

.users-table td {
    padding: 20px;
    display: flex;
    align-items: center;
}